* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --light-grey: #e6e4e4;
    --dark-blue: #10141a;
    --med-blue: #243757;
    --main-font: "Outfit", sans-serif;
}

body {
    min-height: 100%;
    background-color: var(--white);
    font-family: var(--main-font);
    color: var(--black);
    padding: 40px;
}

.flex {
    display: flex;
}

.wrapper {
    width: 90%;
    max-width: 1020px;
    height: 100%;
    margin: auto;
}

/* typography */

h1 {
    margin: 0 0 20px;
}


/* navigation */

nav {
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon-wrapper {
    width: 30%;
    justify-content: center;
    font-size: 1.5rem;
    gap: 20px;
}

/* home page main styles */

.recipe-block {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.recipe-type-wrapper {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid var(--light-grey);
    padding: 20px 0
}

.recipe-list {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-wrapper {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    margin: 20px 0;
    transition: all .3s ease-in-out;
}

.recipe-wrapper:hover {
    box-shadow: 0 2px 4px var(--light-grey);
    scale: 1.1;
}

.recipe-img {
    width: 100%;
    margin-bottom: 10px;
}

/* Media Queries */

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        font-size: 3rem;
    }

    .icon-wrapper {
        justify-content: flex-end;
        font-size: 2rem;
        gap: 40px;
    }

    .recipe-block,
    .recipe-list {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
    }

    .recipe-wrapper {
        width: 40%;
    }
    
}

@media (min-width: 1020px) {
    .recipe-wrapper {
        width: 22%;
    }

}
